# editorconfig.org

root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[{*.php,*.html}]
indent_style = tab
indent_size = 4

# Indentation override for all JS under lib directory
[*.js]
indent_style = space
indent_size = 4